body, html
{
    background-color: #FACA67;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    justify-content: space-between;
    font-family: cartoon;
}

button, .color
{
    all: unset;
}

@font-face {
    font-family: cartoon;
    src: url(./fonts/Catfiles.otf);
}

.top
{
    height: 20vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title
{
    color: #6D5514;
    font-size: 48px;
    margin: 0px;
}

.input
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-top: 24px;
}

.size
{
    height: 40px;
    width: 120px;
    margin-right: 24px;
    background-color: #BB9A38;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: #554619;
    font-size: 12px;
}

input[type="color" i]
{
    width: 60px;
    height: 40px;
    background-color: #BB9A38;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
}

input[type="color" i]:hover
{
    background-color: #554619;
}

button:hover
{
    background-color: #554619;
    color: #BB9A38;
}

.mid
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.case
{
    background-color: #960018;
    border: #AD7F2A solid;
    border-radius: 24px;
    height: 70vh;
    width: 70vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridholder
{
    background-color: white;
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.pixel
{
    width: 25px;
}

.bot
{
    text-align: center;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.copy
{
    margin: 0px;
    padding: 0px;
}